</div>
<div class="footer">

  <div class="TextFooterRight">
      <p id="TextFooterP"> &#169 <%= new Date().getFullYear() %> Amir Kurtagić</p>
  </div>
  <div class="SocialMediaButtons">
    <a href="https://www.facebook.com/kurtagicArt" class="icons fab fa-facebook fa" target="_blank" rel="noopener noreferrer"></a>
    <a href="https://www.instagram.com/kurtagic.art/?hl=en" class="icons fab fa-instagram fa" target="_blank" rel="noopener noreferrer"></a>
    <a href="mailto:kurtagicart@gmail.com" class="icons far fa-envelope fa"></a>
  </div>
</div>
</body>
</html>
