<%- include("partials/header"); -%>


<h1 class="HeaderText">About</h1>
<hr>

<div class=" animated bounceInLeft container">

  <p class="txtAbout">Amir Kurtagić is a Bosnian self-taught painter based in Munich, Germany.
    His favorite technique for creating paintings is oil on canvas. The motives of his paintings are various,
    from still life, buildings, landscapes to people. Through his colorful and various collections he always strives to tell a story.
  </p>
  <img id="aboutPic" src="/images/about/aboutPic.jpeg" alt="About">
</div>

<%- include("partials/footer"); -%>
