<%- include("partials/header"); -%>

<h1 class="HeaderText">Successfully Sent!</h1>
<hr>

<div class="text-center">
  <div class="row">
    <div class="animated bounceInLeft posContact col-md-6 col-lg-4 col-sm-12 col-xs-12">
      <h2>Hi <%=fullName%>!</h2>
      <div class="sentStatusText">
        <p>Your email was sent successfully to
          <span style="color: white;">kurtagicart@gmail.com</span>!
        </p>
      </div>
    </div>
  </div>
  <hr>
  <a style="text-decoration: none;" href="/"><span style="color: white;">HOME</span></a>
</div>

<%- include("partials/footer"); -%>
