<%- include("partials/header"); -%>

<h1 class="HeaderText">Failure!</h1>
<hr>

<div class="text-center">
  <div class="row">
    <div class="animated bounceInLeft posContact col-md-6 col-lg-4 col-sm-12 col-xs-12">
      <div class = "sentStatusText">
        <p>There was a problem! Please try again!</p>
      </div>
    </div>
  </div>
  <hr>
</div>

<%- include("partials/footer"); -%>
