<%- include("partials/header"); -%>

<h1 class="HeaderText">Exhibitions</h1>
<hr>

<div class="text-center">
  <div class="row">
    <div class="animated bounceInLeft posContact col-md-6 col-lg-4 col-sm-12">
      <div class="exhTxt">

        <div class="tittleBoxEx">
          <h5 class="exhHeader">Present | Future </h5>
        </div>
        <div class="txtBoxEx">
          <p>Keep an eye on this page for future projects and upcoming exhibitions!</p>
        </div>

        <div class="tittleBoxEx">
          <h5 class="exhHeader">Past | Solo Exhibitions</h5>
        </div>
        <div class="txtBoxEx">
          <p class="pBoxEx"> <span style="color: white;">2019 | "The Rooftops of Sarajevo"  </span>, Gallery "Preporod", Sarajevo</p>
          <p>This is a slightly different story of Sarajevo, told through 24 pictures.
            The paintings for this exhibition were created in
            the period between 2018 and 2019, inspired by the unique cultural and
            historical heritage of the city.</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
