<%- include("partials/header"); -%>

  <div class="BackgroundImg">
  <!--  <img src="/images/home/homePic.jpeg" alt="Amir Kurtagic"
   aria-hidden="true"> -->
</div>

<div class="HeaderHomeText">
  <h1 class="HeaderTittle">Amir Kurtagić</h1>
  <h2 class="HeaderSubTittle">Artist</h2>
</div>

<%- include("partials/footer"); -%>
